<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>项目名称</title>
    <meta name="keywords" content="&#x9879;&#x76EE;&#x5173;&#x952E;&#x8BCD;">
    <meta name="description" content="&#x9879;&#x76EE;&#x63CF;&#x8FF0;">
    <!-- 引入全站公用资源文件 -->
    <!-- 引入项目css资源文件,并配置构建地址演示 -->
    <link rel="stylesheet" href="assets/css/jquery.gritter.css" />
    <link rel="stylesheet" href="assets/css/common.css">
    <link rel="stylesheet" href="assets/css/style.css">

</head>
<!--[if lt IE 7 ]><body  data-ng-app data-ng-controller="loginCtrl" class="ie ie6"><![endif]-->
<!--[if IE 7 ]><body  data-ng-app data-ng-controller="loginCtrl" class="ie ie7"><![endif]-->
<!--[if IE 8 ]><body  data-ng-app data-ng-controller="loginCtrl" class="ie ie8"><![endif]-->
<!--[if IE 9 ]><body  data-ng-app data-ng-controller="loginCtrl" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><body  data-ng-app data-ng-controller="loginCtrl"><!--<![endif]-->
    <script>
    /*
    * 宽窄屏切换
    * */
    var bigscreen = false;
    if ( screen.width>=1200 ) {
        bigscreen = true;
        var bodyTag = document.getElementsByTagName("body")[0],
        bodyClassName = bodyTag.getAttribute("className") || bodyTag.getAttribute("class");
        bodyClassName = bodyClassName ? bodyClassName+" " : "";
        bodyTag.className = bodyClassName+"root1200";
    }
    </script>
    <div class="hwj-page hwj-login-wrapper">
        <!-- 为了左右添加颜色添加的extral-wrapper -->
        <div class="extral-wrapper">
            <div class="bg-wrapper">
                <div class="bg"></div>
                <div class="logo-wrapper">
                    <div class="logo-pic"></div>
                    <div class="logo-text">苏宁经营决策平台</div>
                </div>
                <div class="lion-wrapper">
                    <div class="lion"></div>
                    <i></i><i></i>
                </div>
                <div class="input-wrapper" data-ng-cloak id="loginbox">
                    <!--<div class="error-wrapper">
                        <span class="icon">x</span>
                        <div class="J-info">请输入密码</div>
                    </div>-->
                    <form action="" name="loginForm" novalidate data-ng-submit="login()">

                        <div class="control-group" data-ng-class="{error: loginForm.account.$dirty && loginForm.account.$invalid}">
                            <input type="text" name="account"  data-ng-model="user.account"  required placeholder="&#x8BF7;&#x8F93;&#x5165;&#x6570;&#x5B57;&#x5DE5;&#x53F7;">
                            <div data-ng-show="loginForm.account.$dirty && loginForm.account.$invalid">
                                <span data-ng-show="loginForm.account.$error.required" class="help-inline"><i class="icon-warning-sign"></i> 帐号不能为空哟~</span>
                            </div>
                        </div>
                        <div class="control-group" data-ng-class="{error: loginForm.psw.$dirty && loginForm.psw.$invalid}">
                            <input type="password" name="psw"  data-ng-model="user.psw"  required data-ng-minlength="6" placeholder="&#x8BF7;&#x8F93;&#x5165;SOA&#x5BC6;&#x7801;">
                            <div data-ng-show="loginForm.psw.$dirty && loginForm.psw.$invalid">
                                <div data-ng-show="loginForm.psw.$error.required" class="help-inline error-wrapper"><span class="icon">x</span> <div class="J-info">密码不能为空哟~</div></div>
                                <div data-ng-show="loginForm.psw.$error.minlength" class="help-inline error-wrapper"><span class="icon">x</span> <div class="J-info"> 密码不能少于六位哟~</div></div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <input id="J-loginBtn"  data-ng-disabled="loginForm.$invalid || isLoading" type="submit" value="&#x7ACB;&#x5373;&#x767B;&#x5F55;" />
                        </div>

                    </form>
                    <div class="bottom-bg"></div>
                </div>
            </div>
        </div>
        <!--#include virtual="component/_footer.html" -->
    </div>
<script src="./lib/jquery/jquery.js" charset="utf-8"></script>
<script src="./lib/jquery/jquery.gritter.min.js" charset="utf-8"></script>
<script src="./lib/angularJS/angular.js" charset="utf-8"></script>
<script type="text/javascript">
    function define(fn){
        fn();
    }
</script>
<script src="config.js"></script>
<script type="text/javascript">
    function loginCtrl($scope, $http, $window){
        //$scope.failed = 0;  //记录失败次数, 失败一次以上就要求输入验证码, 为了刷新丢失问题, 需要把该值持久化到本地，并记录时间戳
        $scope.isLoading = false;
        $scope.user = {};
        $scope.user.account = window.localStorage.userAccount || '';
        $scope.login = function(){
            $scope.isLoading = true;

            $http({
                method: 'POST'
                , url: config.domain + 'act/'
                , data: $scope.user
            }).success(function(response){
                $scope.isLoading = false;

                if(response.status != 0){
                    //持久化token
                    window.localStorage.userId = response.userId;
                    window.localStorage.userAccount = response.account;
                    window.localStorage.userName = decodeURI(response.name);
                    window.localStorage.userIdCard = response.idCard || '';
                    window.localStorage.userSex = response.sex;
                    window.localStorage.userType = response.type;
                    window.localStorage.userEmail = response.email || '';
                    window.localStorage.userQq = response.qq || '';
                    window.localStorage.userPhone = response.phone || '';
                    window.localStorage.userMobile = response.mobile || '';
                    window.localStorage.userInfo = decodeURI(response.info) || '';
                    window.localStorage.userPhoto = response.photo || './img/default-face.png';
                    window.localStorage.token = response.token;

                    //跳转到首页
                    //$window.location.href = config.host;
                    $window.location.href = "http://localhost:8090/yingyan/core.html#!/index";
                }else{
                    $scope.user.psw = null;

                    //失败提醒
                    jQuery.gritter.add({
                        title: '提示'
                        , text: '用户名或密码有误，登录失败'
                        , class_name: 'loser'
                        , image: 'img/configuration2.png'
                        , sticky: false
                    });
                }
            });
        };
    }
</script>
</body>
</html>
