<div class="yy-footer">
    <div class="link-wrapper">
        <ul>
            <li><a href="#">苏宁易购</a></li>
            <li><a href="#">苏宁云商</a></li>
            <li><a href="#">苏宁互联</a></li>
            <li><a href="#">苏宁金融</a></li>
            <li><a href="#">易付宝</a></li>
            <li><a href="#">通座网</a></li>
            <li><a href="#">PPTV</a></li>
            <li><a href="#">红孩子</a></li>
            <li><a href="#">缤购</a></li>
            <li><a href="#">乐购仕</a></li>
            <li><a href="#">苏宁物流</a></li>
            <li><a href="#">苏宁美国</a></li>
            <li><a href="#">苏宁香港</a></li>
        </ul>
    </div>
    <div class="copyright">
        Copyright &copy; 2015-2020, 苏宁版权所有 苏ICP备10207551号
    </div>
</div>